@import 'navbar.css';
@import 'footer.css';

html, body {
  margin: 0;
  height: 100%;
  background-color: hsl(32, 41%, 92%);
}

* {
  font-family: 'roboto', sans-serif;
  box-sizing: border-box;
}

h2 {
  vertical-align: center;
  text-align: left;
  margin: 45px;
  font-size: 50px;
  color: #3D3D3D;
  font-weight: lighter;
}

h3 {
  vertical-align: center;
  text-align: left;
  margin-top: 480px;
  margin-left: 45px;
  font-size: 50px;
  color: #3D3D3D;
  font-weight: lighter;
}

p {
  font-size: 20px;
  width: 80%;
  line-height: 26px;
  text-align: center;
  margin: auto;
  color: #3D3D3D;
}

.slider img {
  width: 90%;
  max-width: 800px;
  height: 350px;
  margin: 30px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  border-bottom: solid 6px #8AC1C0;
  border-right: solid 6px #8AC1C0;
}

.grille {
  max-width: 1300px;
  width: 90%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
<<<<<<< HEAD
  grid-gap: 30px;
=======
  grid-gap: 80px;
>>>>>>> main
  padding-bottom: 80px;
}

.grid-item {
  line-height: 0;
  overflow: hidden;
  border-radius: 15px;
  border-bottom: solid 6px #8AC1C0;
  border-right: solid 6px #8AC1C0;
}

.grid-item img {
  
<<<<<<< HEAD
  border-radius: 15px;
  border-bottom: solid 6px #8AC1C0;
  border-right: solid 6px #8AC1C0;
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.team-listing {
  position: relative;
}


.team-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  border-radius: 15px;
  border-bottom: solid 6px #8AC1C0;
  border-right: solid 6px #8AC1C0;
=======
  border-radius: 15px;
  border-bottom: solid 6px #8AC1C0;
  border-right: solid 6px #8AC1C0;
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.team-listing {
  position: relative;
}


.team-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  border-radius: 15px;
  border-bottom: solid 6px #8AC1C0;
  border-right: solid 6px #8AC1C0;
>>>>>>> main
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-listing:hover .team-title {
  opacity: 1;
  border-radius: 15px;
}

.team-listing:hover .grid-item img {
  filter: blur(2px);
  border-radius: 15px;
}

@media (hover: none) { 
  .team-title {
    opacity: 1;
    border-radius: 15px;
  }
  .grid-item img {
    filter: blur(2px);
    border-radius: 15px;
  }
}